@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are ASPhishing, your best stop in all of Nebraska for all of your fishing gear. We carry the best products the industry has to offer
   and all at competitive prices. We sell rods, reels, and tackle... boats and boat equipment... clothing... and even fishing permits. Stop in
   today or send us a question and one of our friendly employees will give you the best service.</p>
