@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-bckimg" style="padding-bottom:0px;">
    @*<img src="~/Images/someguyfishing.jpg" width="400" height="300" style="float:right;" />*@
    <div style="float:right;margin-top:150px;padding-bottom:0px;">
        <h1>ASPhishing</h1>
        <p class="lead">Get the world's greatest fishing supplies!</p>
    </div>
    <div style="clear:both">&nbsp;</div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>See our products</h2>
        <p>
            We carry the best fishing gear in all of Nebraska at the most competitive prices. We also ship across the United States!
        </p>
        <p>@Html.ActionLink("Products »", "Index", "ProductLists", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Apply for a permit</h2>
        <p>Easily and quickly apply for a fishing permit! Non-residents may also apply!</p>
        <p>@Html.ActionLink("Permit »", "Index", "Permit", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Ask a question</h2>
        <p>Ask our staff a question to get the fastest answers! Get a personal response in less than 24 hours!</p>
        <p>@Html.ActionLink("Ask Us »", "CreateNew", "Questions", null, htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>