@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASPhishing</h1>
    <p class="lead">Get the worlds greatest fishing supplies!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>See our products</h2>
        <p>
            We carry the best fishing gear in all of Nebraska at the most competitive prices. We also ship to all of the United States!
        </p>
        <p><a class="btn btn-default" href="@Html.ActionLink("Products »", "Index", "ProductLists")" /></p>
    </div>
    <div class="col-md-4">
        <h2>Apply for a permit</h2>
        <p>Easily and quickly apply for a fishing permit!</p>
        <p><a class="btn btn-default" href="@Html.ActionLink("Permit »", "Index", "Permit")" /></p>
    </div>
    <div class="col-md-4">
        <h2>Ask a question</h2>
        <p>Ask our staff a question to get the fastest answers!</p>
        <p><a class="btn btn-default" href="@Html.ActionLink("Ask Us »", "CreateNew", "Questions")" /></p>
    </div>
</div>